<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <script src="https://kit.fontawesome.com/868ff58ad9.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/styleuser.css"/>
  </head>

  <body>
    <header>
      <div class="top-header">
        <div class="logo">
          <a href="/">
          <img
            src="images/mercadoliebre-solo.png"
            alt="Logo de MercadoLiebre"
          />
          </a>
        </div>
        
    </header>




    <body>

        <section class="formulario-login">
          <div class="form-container-login">
            <div class="input-box">
                <form action="/" method="login">
                <h2>Registro de Usuario</h2>
                <div class="input-container">
                    <p>Ingresa tu e-mail</p>
                    <input type="email" name="Email" required>
                </div>
                <div class="input-container">
                    <p>Contraseña</p>
                    <input type="password" name="password" class="burbuja" required required pattern=".{6,8}"
                    title="La contraseña debe tenere entre 8 y 6 caracteres" >
                </div>

                <div class="button-container">
                    <button type="submit"  class="botton">Ingresar</button>
                </div>
                
                    <a href="/register">
                        <div class="button-container-white">
                        Crear Cuenta
                        </div>
                    </a>
                

            </div>
          </div>
        </section>

    </body>



    <footer>
        <div class="margin-login">
        <section>  
    
          <article>
              <div class="icon-card">
                  <i class="fa-solid fa-credit-card"></i>
              </div>
              <h3 align="center">
                  Pagá con tarjeta o en efectivo
              </h3> 
              <h5 align="center">
                  Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                  puntos de pago. ¡Y siempre es seguro!
              </h4>
          </article>
    
          <article>
              <div class="icon-card">
                  <i class="fa-solid fa-credit-card"></i>
              </div>
              <h3 align="center">
                  Envío gratis desde $ 2.500
              </h3> 
              <h5 align="center">
                  Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                  puntos de pago. ¡Y siempre es seguro!
              </h4>
          </article>
    
          <article>
              <div class="icon-card">
                  <i class="fa-solid fa-credit-card"></i>
              </div>
              <h3 align="center">
                  Pagá con tarjeta o en efectivo
              </h3> 
              <h5 align="center">
                  Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                  puntos de pago. ¡Y siempre es seguro!
              </h5>
          </article>

        </section>
    
    
        </div>
      </footer>

  </html>